.container{
    height:100vh;
    width:100%;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 0.2px;
}

nav{ 
    background-color: black;
}

    nav a{
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        float: left;
        padding: 15px 17px;
        margin:10px;
    }

    .nav-header{
        float: right;
    }

    .nav-content{
        font-style: italic;
        font-size: 1.2em;
    }

main{
    background-color:#82deb9;
    height: 90vh;
    display: flex;
}

    main img{
        height: 600px;
        margin-left: 90px;
        border-radius: 20px;
    }

.albert-quote{
    color: white;
    padding-top: 140px;
}

    .title{
        font-size: 3.5em;
    }

    .albert-quote p{
        font-size: 2.5em;
        font-weight: bolder;
        font-style: italic;
    }

.heading{
    font-size: 2.5em;
}

#about{
    background-color: #1e4b4e;
    padding: 88px;
    color: white;
    text-align: center;
}

    #about p{
        font-size: 1.5em;
        text-align: justify;
    }

#about-toungeout-facts{
    background-color: #1e4b4e;
    padding: 100px;
    color: white;
    text-align: left;
    display: flex;
}

    .toungueout-img img{
        padding-top: 60px;
        margin-left: 60px;
    }

    .toungueout-contents{
        padding: 10px;
        font-style: italic;
    }

    #about-toungeout-facts p{
            font-size: 1.5em;
            text-align: justify;
    }

#hobbies{
    background-color: black;
    padding: 100px;
    color: white;
    text-align: left;
    display: flex;
}

    .hobbies-details li{
        font-size: 1.5em;
        text-align: justify;
    }

#papers{
    background-color: #82deb9;
    width: 100%;
}

    #papers .heading{
        color: white;
    }

    #papers ul{
        display: flex;
        overflow: auto;
        list-style: none;
    }

    #papers ul li{
        padding:20px;
    }

    .paper-img img{
        width: 247px;
        height: 300px;
        margin: 20px;
    }

    #paper1{
        margin: 15px;
    }

    #papers a{
        color: white;
        font-size: 1.5em;
        text-decoration: none;
        width: 340px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .year{
        color: white;
        font-size: 1.2em;
    }

    #paper-details{
        display: flex;
        flex-wrap: nowrap;
        margin: 20px;
        align-items: center;
        overflow: auto;
    }

#experience{
    background-color:#82deb9;
    color: white;
    padding: 93px;
    text-align: left;
}

    #experience ol li{
        font-size: 1.5em;
    }

#imges-col{
    background-color: black;
    padding: 20px 20px;
    color: white;
    height: 125vh;
}

    #imges-col img{
        width: 335px;
        height: 350px;
    }
    .img-cols{
        padding: 30px;
    }

#blogs {
    height: 501px;
    background-color: #82deb9;
    color: white;
    padding: 21px;
}

    .blogImg {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 30px;
    }

    .blogImg a{
        text-decoration: none;
        color: white;
    }

    .bg-img {
        height: 230px;
        border-radius: 20px;
        width: 360px;
    }

.main.footer {
    background-color: black;
    color: white;
    padding: 25px;
}

    .footer-header a{
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        padding: 15px 17px;
    }

    .ft {
        font-size: 17px;
        margin-left: 30px;
        padding: 20px;
    }

.Top-background {
    color: white;
    margin-left: 40px;
    text-decoration: none;
}

.contacts {
    padding: 20px;
    font-size: 17px;
}

    #mailimg{
        height: 36px;
        margin-bottom : -20px;
        padding: 10px;
    }

    #phnimg{
        height: 35px;
        margin-bottom : -19px;
        padding: 10px;
    }

    .mail{
        display: inline;
    }
    
    .phn{
        display: inline;
    }

#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    background-color: mediumaquamarine;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
}

@media only screen and (max-width: 500px){

    nav{
        height: auto;
    }

    main{
        height: auto;
        width:auto;
        flex-direction: column;
        padding: 45px;
    }
    main img{
        height: auto;
        width: -webkit-fill-available;
        border-radius: 20px;
        margin-left: auto;
    }

    #about p{
        text-align: center;
    }

    .hobbies-details li{
        text-align: center;
        padding: 7px;
    }

    #about-toungeout-facts{
        height: auto;
        width:auto;
        flex-direction: column;
        padding: 45px;
    }

    #about-toungeout-facts img{
        margin-left: auto;
        height: auto;
        width: -webkit-fill-available;
    }

    #about-toungeout-facts p{
        text-align: center;
    }

    #imges-col{
        height: auto;
    }
        
        .img-cols{
            padding: initial;
        }

    #blogs{
        height: auto;
    }

    .blogImg{
        flex-direction: column;
    }
    
    .footer-header{
        height: auto;
        padding: 15px 20px;
        margin: auto;
        width: auto;
    }

    .contacts-text{
        font-size: 20px;
    }

    .mail{
        display: inherit;
    }

    .phn{
        margin-right: -19px;
        display: inherit;
    }
    
    .ft{
        margin-left: auto; 
        padding: inherit;
    }
}